* { box-sizing: border-box; }

html { width: 100%; height: 100%; }

body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow:hidden;
    background-color: black;
    color: White;
    font-size: 10px;
    font-family: Courier, Serif;
}

#main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: radial-gradient(#8ffff0 50%, #64fae6 90%);
}

#marker {
    position: absolute;
    width: 6px;
    height: 6px;
    margin-left: -3px;
    margin-top: -3px;
    background-color: red;
    left: -2000px;
    top: -2000px;
    display: none;
}

.spek,
.ort,
.snip,
.strand,
.struck,
.proto {
    position: absolute;
    user-select: none;
    z-index: 8000;
    transform-origin: center;
}

.spek {
    font-size: 0.25rem;
    font-weight: bold;
    opacity: 0.2;
}

.spek.spk-a1 {
    color: #990000;
}

.spek.spk-a2 {
    color: #330000;
}

.spek.spk-b1 {
    color: #003300;
}

.spek.spk-b2 {
    color: #339933;
}

.spek.spk-c1 {
    color: #000066;
}

.spek.spk-c2 {
    color: #3333CC;
}

.spek.spk-d1 {
    color: #990099;
}

.spek.spk-d2 {
    color: #FF66FF;
}

.spek.spk-x {
    color: #CC9900;
}

.spek.spk-g1 {
    color: #99DDFF;
}

.spek.spk-g2 {
    color: #99FF99;
}

.spek.spk-g3 {
    color: #339966;
}

.ort {
    font-size: 0.6rem;
    opacity: 0.35;
    font-weight: bold;
}

.ort.ort-a {
    color: #CC0000;
    font-size: 0.9em;
}

.ort.ort-b {
    color: #009900;
    font-size: 1.1em;
}

.ort.ort-c {
    color: #000099;
    font-size: 0.5rem;
}

.ort.ort-d {
    color: #990099;
}

.ort.ort-p {
    color: #FFAA00;
    opacity: 0.3;
}

.ort.ort-e {
    color: #666666;
    font-size: 0.8em;
}

.snip {
    font-size: 1.1rem;
    opacity: 0.6;
    color: #666666;
}

.snip.snp-pre {
    color: #3399CC;
    font-size: 0.8rem;
}

.snip.snp-go {
    color: #9933CC;
}

.snip.snp-blk {
    color: #FF9900;
    font-size: 0.75rem;
}

.snip.snp-ex {
    color: #669900;
    font-size: 1rem;
}

.snip.snp-ddd {
    color: #FF0000;
    font-size: 0.9rem;
}

.snip.snp-daa,
.snip.snp-dab,
.snip.snp-dac,
.snip.snp-dad,
.snip.snp-dbb,
.snip.snp-dba,
.snip.snp-dbc,
.snip.snp-dbd,
.snip.snp-dcc,
.snip.snp-dca,
.snip.snp-dcb,
.snip.snp-dcd {
    color: #FFAA00;
    font-size: 0.9rem;
}

.snip i.loaded {
    font-style: normal;
    font-size: 0.75rem;
}

.snip.snp-dxx
{
    color: #00CCCC;
}

.strand {
    font-size: 1.7rem;
    opacity: 0.8;
    color: #CC99CC;
}

.strand.sz-6,
.strand.sz-7,
.strand.sz-8,
.strand.sz-9 {
    font-size: 1.8rem;
}

.strand.sz-10,
.strand.sz-11,
.strand.sz-12,
.strand.sz-13 {
    font-size: 1.9rem;
}

.strand.sz-14,
.strand.sz-15,
.strand.sz-16,
.strand.sz-17 {
    font-size: 2rem;
}

.strand.sz-18,
.strand.sz-19,
.strand.sz-20,
.strand.sz-21,
.strand.sz-22,
.strand.sz-23 {
    font-size: 2.1em;
    color: #9966FF;
}

.strand.sz-full {
    font-size: 2.1em;
    color: #3333FF;
}

.strand .st-ct {
    text-align: center;
    line-height: 0.5rem;
}

.strand .st-cn {
    text-align: right;
    font-size: 0.5rem;
    line-height: 0.5rem;
}

.struck {
    font-size: 1rem;
    opacity: 0.4;
    color: #666666;
    transform-origin: center;
}

.struck.brane {
    font-size: 2rem;
    color: #FFAA00;
}

.struck.blip {
    font-size: 1.5rem;
    color: #33CCFF;
    opacity: 0.2;
}

.struck.seed {
    font-size: 1rem;
    color: #336600;
    opacity: 0.3;
}

.proto {
    opacity: 0.8;
    transform-origin: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.proto.complex-1 .back,
.proto.complex-1 .front {
    display: none;
}

.proto.complex-1 .mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.proto.complex-1 .mid .main {
    width: 1rem;
    height: 1rem;
    font-size: 0.65rem;
    line-height: 0.65rem;
    vertical-align: middle;
    border-width: 0.15rem;
    border-style: solid;
    border-radius: 100%;
    background-color: #aff;
    border-color: #3cc;
    color: #2bb;
    font-weight: bold;
    text-align: center;
}

.proto.complex-1.mover .mid .main {
    border-style: dashed;
}

.proto.complex-1.chem .mid .main {
    background-color: #cfc;
    border-color: #6c6;
    color: #5b5;
}

.proto.complex-2 .back,
.proto.complex-2 .front {
    min-width: 1rem;
    color: #3bb;
}

.proto.complex-2 .back .tail {
    min-width: 1rem;
    text-align: right;
    font-size: 1.2rem;
    position: relative;
    right: -0.2rem;
}

.proto.complex-2 .front .mouth {
    min-width: 1rem;
    text-align: left;
    font-size: 0.7rem;
    position: relative;
    left: -0.2rem;
}

.proto.complex-2 .front .mouth .open {
    display: inline-block;
}

.proto.complex-2 .front .mouth .closed {
    display: none;
}

.proto.complex-2.eating .front .mouth .open {
    display: none;
}

.proto.complex-2.eating .front .mouth .closed {
    display: inline-block;
}

.proto.complex-2 .mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.proto.complex-2 .mid .main {
    width: 1.5rem;
    height: 1rem;
    font-size: 0.75rem;
    line-height: 0.75rem;
    vertical-align: middle;
    border-width: 0.15rem;
    border-style: solid;
    border-radius: 40%;
    background-color: #9ff;
    border-color: #3bb;
    color: #2cc;
    font-weight: bold;
    text-align: center;
}

@keyframes mv-tail {
    0% {transform: scaleY(100%); }
    10% { transform: scaleY(-100%); }
    20% { transform: scaleY(100%); }
    30% { transform: scaleY(-100%); }
    40% { transform: scaleY(100%); }
    50% { transform: scaleY(-100%); }
    60% { transform: scaleY(100%); }
    70% { transform: scaleY(-100%); ;}
    80% { transform: scaleY(100%); }
    90% { transform: scaleY(-100%); }
    100% { transform: scaleY(100%); }
  }

.mv-animation {
    display: block;
    width: 100%;
    text-align: center;
    animation-name: mv-tail;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    transform-origin: center right;
}

.xtra {
    position: absolute;
    transform-origin: center;
}

.xtra.drip {
    border: 1px solid white;
    opacity: 1;
    border-radius: 100%;
    width: 10;
    height: 10;
    transform: translateX(-50%) translateY(-50%);
    z-index: 88888;
}

.xtra.puff {
    font-size: 0.9rem;
    color: White;
    font-size: 0.8em;
    line-height: 2rem;
    width: 2rem;
    text-align: center;
    border: 1px solid white;
    border-radius: 100%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 88888;
}

.xtra.bomb {
    font-size: 0.9rem;
    color: #CCCCCC;
    font-size: 1em;
    line-height: 3rem;
    width: 3rem;
    text-align: center;
    border: 1px solid white;
    border-radius: 100%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 88888;
}

.xtra.vent {
    transform-origin: center;
    font-size: 2rem;
    color: #20d6b2;
    opacity: 0.4;
    z-index: 90;
}
